em strong {
    color: red;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
#banner {
    width: 100%;
}
#missao {
    font-size: 20px;
}
.texto-centralizado {
    text-align: center;
}
.principal {
    background: #cccccc;
    padding: 30px;
}
.itens {
    font-style: italic;
}
.beneficios {
    padding: 20px;
}
.imgbeneficios {
    width: 50%;
}
.titulo-principal {
    margin-left: 20px;
}